<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

	<targets xsi:type="AsyncWrapper">
		<!--保存至文件-->
		<target name="info_log_file" xsi:type="File" 
				fileName="${basedir}/logs/${shortdate}/info.txt" layout="${longdate} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
		<target name="error_log_file" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}/error.txt" layout="${longdate} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
		<!--输出至Debugger-->
		<target name="debugger" xsi:type="Debugger" 
				layout="NLog: ${date:format=HH\:mm\:ss} | ${message}" />
		<!--输出至控制台-->
		<target name="console" xsi:type="ColoredConsole" 
				layout="${longdate} ${message} ${exception:format=tostring}"></target>
	</targets>

	<rules>
		<logger name="*" levels="Info,Debug,Warn" writeTo="info_log_file" />		
		<logger name="*" levels="Error,Fatal" writeTo="error_log_file" />
		<logger name="*" levels="Info,Debug,Warn,Error,Fatal" writeTo="console" />
	</rules>
</nlog>